<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Car</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<style>
#hide {
	display: none;
}
</style>
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Update Car</h1>
		</div>
		<form th:action="@{/car_update}" th:object="${car}" method="post"
			style="max-width: 600px; margin: 0 auto;">
			<!-- hide start-->
			<div id ="hide">
			<input th:field="*{id}" th:value="${car.id}"/>
			<input th:field="*{email}" th:value="${car.email}"/>
			<input th:field="*{brand}" th:value="${car.brand}"/>
			<input th:field="*{modal}" th:value="${car.modal}"/>
			<input th:field="*{state}" th:value="${car.state}"/>
			<input th:field="*{city}" th:value="${car.city}"/>
			<input th:field="*{registernumber}" th:value="${car.registernumber}"/>
			<input th:field="*{fuel}" th:value="${car.fuel}"/>
			<input th:field="*{transmission}" th:value="${car.transmission}"/>
			<input th:field="*{mileage}" th:value="${car.mileage}"/>
			<input type="number" th:field="*{seats}" th:value="${car.seats}"/>
			<input th:field="*{bodytype}" th:value="${car.bodytype}"/>
			<input th:field="*{color}" th:value="${car.color}"/>
			<input th:field="*{ownertype}" th:value="${car.ownertype}"/>
			</div>
			<!-- hide over -->
			<div class="m-3">
				<!-- price -->
				<div class="form-group row">
					<label class="col-4 col-form-label">Price: </label>
					<div class="col-8">
						<input type="number" th:value="${car.price}" th:field="*{price}" class="form-control"
							required placeholder="Price" />
					</div>
				</div>
				<!-- years -->
				<div class="form-group row">
					<label class="col-4 col-form-label">Years: </label>
					<div class="col-8">
						<input type="number" th:field="*{years}" th:value="${car.years}" class="form-control"
							required placeholder="Price" />
					</div>
				</div>
				<!-- kmdriven -->
				<div class="form-group row">
					<label class="col-4 col-form-label">KM driven: </label>
					<div class="col-8">
						<input type="number" th:field="*{kmdriven}" th:value="${car.kmdriven}" class="form-control"
							required placeholder="KM driven" />
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>